*.pyc
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.status
configure
install-sh
ltmain.sh
missing
py-compile
Makefile.in
Makefile
*/Makefile
*/*/Makefile
tests/test
tests/dest
src/timeball_utils/version.py
timeballc
timeball
timeball.1
stamp-h1
*.tar.gz
